*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 100px;
    font-family: century;
    
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 9px;
}
nav{
    background: #a0a9af;
    height: 70px;
    width: 100%;
    flex-wrap: wrap;
    
}
nav ul{
 padding-left: 10px;}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: black;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
}
a.active,a:hover{
    background: #a0a9af;
    transform: .5s;
}

.titre h1{
    
    color: white;
    font-size: 70px;
    position: absolute;
    
}
.button{
    position: absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
button a{ 
    text-decoration: none;
    color: white;
}    

.hero{
    min-height: 90vh;
    background-image: linear-gradient(rgb(0,0,0,0.6),transparent), url("saudi.png");
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.hero h1{
   /* font-size: 1.8rem; */
    font-size: xx-large;
    font-family: 'Caveat', cursive;
    font-size: 5em;
    position: absolute;
    margin-top: -5cm;
}
.hero h2{
    padding: 4rem ;
    font-size: 1.8rem;
font-size: x-large;
font-weight: normal;
font-size: 3em;
position: absolute;}
    

button{
    padding: 1rem 6rem;
    background:rgb(0, 173, 185) ;
    color: rgb(255, 255, 255);
    font-weight:bold;
    cursor: pointer;
    border: none;
    font-size: x-large;
    position: absolute;
    margin-top: 5cm;
    
}
.img-gallery{
    width: 90%;
    margin: 100px auto 50px;
    height: 2px;
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(250px,1fr));
     grid-gap: 2em;} 
      
.img-gallery img{
    width: 100%;
    border-radius: 10px;
    height: 5cm;
    width: 10cm;
    margin: 2cm;
    margin-top: -80px;
    
     }
  
.col{
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    margin:30px;
    padding: 4px;
    padding-top: 4px;
    flex-direction: column; 
    


}
.titre{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}
.titre .btn1{
    position: absolute;
    top:150%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 6rem;
    background:rgb(0, 173, 185) ;
    color: rgb(255, 255, 255);
    font-weight:bold;
    cursor: pointer;
    border: none;
    font-size: x-large;
    border-radius: 10px;
    margin-top: -0.1cm;
    
}
.img-gallery p { 
    font-size: large;
    width: 100%;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: -65px;
    margin-left: 10%;

}

span{
    font-size: large;
    width: 100%;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
    text-align: center;
    margin-top: -65px;
    margin: 50%;

}
.row{
    width: 90%;
    margin: auto;
}
.shadow{
    width: 700px;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.429);
    position: absolute;
    border-radius: 12px;
}